version=0.24.1
profile=default
doc-comments=before
space-around-arrays=false
space-around-lists=false
space-around-records=false
space-around-variants=false
module-item-spacing=sparse
break-sequences=false
