on:
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        ocaml-version: [5.4.0]
#        ocaml-format-version: [0.24.1] # 0.24.1 is incompatible with ocaml 5.2.0
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@v6
      - name: set up opam
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}
          dune-cache: true
      - name: install
        run: |
          opam install --with-test .
#      - name: check formatting
#        run: |
#          opam install ocamlformat.${{ matrix.ocaml-format-version }}
#          eval $(opam env)
#          make fmt
      - name: tests
        run: |
          eval $(opam env)
          tests/check_test_list.py
          make tezt
      - name: light libraries
        if: github.event_name != 'schedule'
        run: |
          eval $(opam env)
          make light_tests
