@import url("../style.css");

pre {
    border: 3px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
}
pre.src {
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
    background-color: #ffffff;
}
pre.src:before {
    display: none;
    position: absolute;
    background-color: #ffffff;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
}
pre.src:hover:before { display: inline;}
pre.src-sh:before    { content: 'sh'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-dedukti:before   { content: 'Dedukti'; }

div.exercise {
    /* display: inline; */
    border: 1px solid black;
    background-color: #ffffaa;
    padding: 8pt;
    margin: 1.2em;
}
div.exercise:before {
    overflow: auto;
    content: 'Exercise';
    font-weight: bold;
    padding-top: 1.2em;
}

table { border-collapse:collapse; }
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
td, th { vertical-align:top;  }
th.right  { text-align: center;  }
th.left   { text-align: center;   }
th.center { text-align: center; }
td.right  { text-align: right;  }
td.left   { text-align: left;   }
td.center { text-align: center; }
dt { font-weight: bold; }
.footpara:nth-child(2) { display: inline; }
.footpara { display: block; }
.footdef  { margin-bottom: 1em; }
.figure { padding: 1em; }
.figure p { text-align: center; }
.inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
}
#org-div-home-and-up
{ text-align: right; font-size: 70%; white-space: nowrap; }
textarea { overflow-x: auto; }
.linenr { font-size: smaller }
.code-highlighted { background-color: #ffff00; }
.org-info-js_info-navigation { border-style: none; }
#org-info-js_console-label
{ font-size: 10px; font-weight: bold; white-space: nowrap; }
.org-info-js_search-highlight
{ background-color: #ffff00; color: #000000; font-weight: bold; }

/* From http://orgmode.org/org-manual.css */
#table-of-contents {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    font-size: 9pt;
    position: fixed;
    right: 0em;
    top: 0em;
    background-color: #ffaaaa;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    text-align: left;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    overflow: auto;
    z-index: 200;
}

#table-of-contents h2 {
    font-size: 9pt;
    max-width: 8em;
    font-weight: normal;
    padding-left: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
}

#table-of-contents ul {
    margin-left: 14pt;
    margin-bottom: 10pt;
    padding: 0
}

#table-of-contents li {
    padding: 0;
    margin: 1px;
    list-style: none;
}

#table-of-contents ul>:first-child {
    color: blue;
}

#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em;
}
/* Source code faces */
.org-string {
    /* font-lock-string-face */
    color: #8b2252;
}
.org-preprocessor {
    /* font-lock-preprocessor-face */
    color: #006400;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #a020f0;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #0000ff;
}
.org-variable-name {
    /* font-lock-variable-name-face */
    color: #a0522d;
}
